<div class="container">
    <div class="title">
        <h1>Lorem ipsum</h1>
    </div>
    <div class="main-image">
        <img src="./assets/testImage/testImage.jpg" alt="testImage">
    </div>
    <div class="main-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit tortor id luctus pretium. Vivamus a
        luctus nulla, dignissim commodo ligula. Nam vehicula nisl eu leo convallis, vitae sodales ligula suscipit. Donec
        vulputate auctor ipsum eget interdum. Maecenas eu mi vitae sem scelerisque bibendum. Phasellus in elit blandit,
        tristique lorem eu, hendrerit diam. Proin lacinia volutpat turpis ullamcorper pulvinar. Ut eget sapien aliquet
        nibh mollis tincidunt non eget odio. Donec commodo feugiat ligula id mattis. Donec dictum id velit quis tempor.
        Maecenas accumsan molestie velit nec maximus. Ut eleifend sapien a libero suscipit vulputate. Aenean blandit
        nisl sem, id fringilla mi vulputate et. Sed a metus molestie, malesuada nisl eu, placerat nisl. Vestibulum non
        lorem lectus.

        Proin augue risus, gravida in placerat eget, ultrices rhoncus massa. Nulla consequat eu ipsum vitae aliquam.
        Proin quis nibh facilisis, convallis turpis mattis, scelerisque lectus. Suspendisse euismod ullamcorper magna a
        placerat. Donec massa lectus, pulvinar ac lacinia accumsan, ornare sed erat. Vestibulum venenatis convallis
        purus, varius feugiat leo hendrerit tincidunt. Morbi a mattis urna, ut lobortis orci. Vestibulum mollis nulla
        sit amet quam convallis, sit amet euismod orci imperdiet. Sed ut nisl et mi viverra lobortis ut a metus. Integer
        vel interdum orci, ac iaculis arcu. Quisque semper et lorem et condimentum. Nam posuere turpis in ante sodales,
        sed consequat eros vestibulum. Nunc maximus volutpat vulputate. In neque lectus, aliquam a turpis in, eleifend
        bibendum ex. Sed sed sem nec arcu aliquet dignissim nec nec dui.

        Nullam volutpat nibh diam, quis porta quam bibendum ut. Duis urna tortor, dictum vitae lectus id, faucibus
        tincidunt orci. Donec quis risus posuere libero volutpat ultricies nec at massa. Nunc euismod tortor risus, sit
        amet finibus diam auctor a. Pellentesque in ultrices arcu. Vivamus facilisis sodales vehicula. Quisque eget diam
        et nisl hendrerit aliquam. Phasellus ornare risus vel augue sagittis, quis pulvinar neque condimentum. Praesent
        rutrum id eros eu vehicula. Maecenas porttitor hendrerit ipsum ut ullamcorper. Praesent dui metus, lobortis
        tempor nisi lacinia, consectetur suscipit enim. Vivamus interdum feugiat mi, sed venenatis velit. Quisque cursus
        massa erat, a auctor augue porttitor eu. Quisque vehicula libero et malesuada feugiat.

        Aliquam erat volutpat. Sed vel leo auctor mauris lobortis molestie. Morbi congue felis nec nisi elementum, eget
        pulvinar est semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Quisque tristique nibh nibh, fringilla ornare felis condimentum vitae. Ut ex augue, rutrum sed elit vel,
        interdum placerat purus. Quisque vel lorem in est placerat pellentesque vitae feugiat nisi. Sed a neque
        convallis, elementum erat blandit, tempor augue. Nam vestibulum libero id dolor molestie rutrum. Proin ac
        condimentum mauris, a commodo odio. Integer sed enim et turpis consequat ornare sed quis lectus. Aliquam
        placerat neque nisi, quis venenatis sem sodales non.

        Suspendisse potenti. Nunc luctus vulputate massa ac tempor. Aliquam eu ligula dui. Aliquam accumsan magna vitae
        mollis ullamcorper. Proin ultrices tempus mi, feugiat tempor libero rutrum vel. Mauris egestas velit eu purus
        porta, id interdum sem imperdiet. Etiam facilisis felis sit amet arcu porttitor, venenatis eleifend tellus
        placerat. Pellentesque arcu orci, malesuada non arcu ac, semper aliquet velit. Donec risus diam, congue vel
        vulputate sit amet, pulvinar scelerisque lectus. Proin cursus urna enim, eu porttitor nisl mollis ut. Fusce
        consectetur nibh in vehicula varius.
    </div>

    <div class="gallery">

    </div>
    <div class="comments">
        <div class="comment-title">
            <h3>Komentarze</h3>
        </div>
        <app-comments></app-comments>
    </div>
</div>