<form class="createComment row" *ngIf="currentUser()!=undefined" (ngSubmit)="createComment()" [formGroup]="newCommentFormGroup">
    <div class="col user_image">
        <img src="./assets/icon/login2.png" alt="user_image" style="width: 100%; height: 100%;">
    </div>
    <div class="col-11">
        <textarea class="commentTextArea" formControlName='comment'></textarea>
        <button class="btn btn-primary addButton" type="submit">Dodaj</button>
    </div>
</form>

<div class="comment-list row" *ngFor="let item of items">
    <div class="col user_image">
        <img src="./assets/icon/login2.png" alt="user_image" style="width: 100%; height: 100%;">
    </div>
    <div class="col-11 ">
        <div class="comment">
            <div class="comment-user">
                <div class="comment-author">{{item.author.username}}</div>
                <div class="comment-date">{{item.createDate.dayOfMonth}} {{item.createDate.month}}
                    {{item.createDate.year}}</div>
            </div>
            <div class="comment-text">
                {{item.commentText}}
            </div>
            <div *ngIf="item.author.username==currentUser()" class="comment-button">
                <div class="editButton">Edycja</div>
                <div class="deleteButton">Usuń</div>
            </div>
        </div>
    </div>
</div>