<div class="comment-list row" *ngFor="let item of items">
    <div class="col user_image">
        <img src="./assets/icon/login2.png" alt="user_image" style="width: 100%; height: 100%;">
    </div>
    <div class="col-11 ">
        <div class="comment">
            <div class="comment-user">
                <div class="comment-author">author_name</div>
                <div class="comment-date">date</div>
            </div>
            <div class="comment-text">
                <div class="comment-text">text</div>
            </div>
        </div>
    </div>
</div>