.comment-user {
    display: flex;
    gap: 10px;
}

.comment-author {
    font-weight: bolder;
}


.user_image {
    align-self: center;
    place-self: center;
    min-width: 40px;
    min-height: 40px;
}

.comment-list {
    margin-bottom: 10px;
}

.comment {
    padding: 1em;
    margin: 1rem;
    border-radius: 10px;
    background: rgb(59, 59, 59);
}