<div class="news_list">
    <div class="news_box">

        <div class="container_box" *ngFor="let item of news">
            <div class="author">
                item.author
            </div>
            <div class="image">
                item.image
            </div>
            <div class="text">
                <div class="title">
                    item.title
                </div>
                <div class="article">
                    item.article
                </div>
            </div>

        </div>


    </div>
</div>