<div class="news_list">
    <div class="news_box">

        <div class="container_box" *ngFor="let item of news">
            <div class="author">
                author
            </div>
            <div class="image">
                image
            </div>
            <div class="text">
                <div class="title">
                    title
                </div>
                <div class="article">
                    article
                </div>
            </div>

        </div>


    </div>
</div>