<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" routerLink="#">CrudApp</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="news/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="openEditDialog()">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="openDeleteDialog()" routerLink="#">Delete</a>
                </li>
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="userIsLogin(); else notLogin">
                    <li class="nav-item">
                        <a class="nav-link logout" (click)="logout()">
                            <img src="./assets/icon/logout.png" alt="logoutIcon">
                        </a>
                    </li>
                </ul>
                <ng-template #notLogin>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link " id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="./assets/icon/login2.png" alt="loginIcon">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" (click)="openLoginDialog()">Logowanie</a></li>
                                <li><a class="dropdown-item" (click)="openRegisterDialog()">Rejestracja</a></li>
                            </div>
                        </li>
                    </ul>
                </ng-template>
            </form>
        </div>
    </div>
</nav>