.navbar-custom, .dropdown-menu {
    background: rgb(59, 59, 59);
}

img {
    border-radius: 100%;
    width: 40px;
}

.logout{
    filter: invert(90%);
}

.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color: black;
}

