.content {
    background: yellow;
    display: flex;
}

.left-panel {
    background: red;
    width: 20vw;
}

.right-panel {
    background: transparent;
    width: 80vw;
}

.footer {
    background: grey;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main_content {
    flex: 1;
    background-color: rgb(26, 26, 26);
}
