.previewImage {
    max-width: 200px;
    max-height: 200px;
}

.imageList {
    display: flex;
    justify-content: center;
}

.form-group, .custom-file {
    padding-bottom: 10px;
}

label {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.container {
    background: rgb(59, 59, 59);
    margin-top: 1em;
    border-radius: 10px;
    padding: 1em;
}
:host ckeditor ::ng-deep .ck-editor__editable {
    height: 50vh;
}

.form-label {}